body {
    background: linear-gradient(to left, orange, rgb(139, 183, 168))
}

#card {
    background: #fbfbfb;
    border-radius: 9px;
    border: solid 1px black;
    height: 410px;
    width: 329px;
    margin: 96px auto 129px auto;
}

#card-content {
    padding: 12px 44px;
}

#card-title h2 {
    letter-spacing: 4px;
    padding-top: 13px;
    text-align: center;
}

.underline-title {
    background: linear-gradient(to right, orange, rgb(139, 183, 168));
    height: 2px;
    margin: -17px auto 0 auto;
    width: 96px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

label {
    font-size: 15px;
}

#forgot-pass {
    color: orange;
    font-size: 13px;
    margin-top: 3px;
    text-align: right;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-border {
    background: linear-gradient(to right, rgb(44, 70, 50), rgb(139, 183, 168));
    height: 1px;
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

#submit-btn {
    background: linear-gradient(to right, orange, rgb(139, 183, 168));
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: white;
    height: 42px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}

#submit-btn:hover {
    box-shadow: 0px 1px 10px rgb(139, 183, 168);
}

#signup {
    color: orange;
    font-size: 17px;
    margin-top: 16px;
    text-align: center;
}